<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--<add name="SQLiteConnection" connectionString="Data Source=ba.sqlite;Version=3;UTF8Encoding=True;foreign keys=true;FailIfMissing=true;" providerName="System.Data.Sqlite" />-->
  </connectionStrings>
<appSettings>
  <!-- Offset in days for default date on cash page (0 - today, -1 - yesterday etc.) -->
  <add key="DefaultInputDateOffset" value="-1"/>
  <!-- Offset in days for default date on charts page (0 - today, -1 - yesterday etc.) -->
  <add key="DefaultStartDateOffset" value="-30"/>
  <add key="DefaultEndDateOffset" value="0"/>
  <!-- The Google Drive folder id to store backups separately (leave empty for the root folder) -->
  <add key="BackupRemoteFolderId" value=""/>
  <!-- The Google Drive file id to store backups versioned (leave empty to use folder id) -->
  <add key="BackupRemoteFileId" value=""/>
  <!-- How often backup should be created automatically on program startup (in hours, leave empty to disable) -->
  <add key="AutoBackupInterval" value="23"/>
</appSettings>
</configuration>
