<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package Id="MahApps.Metro" version="0.14.0.0" targetFramework="net45" />
  <package Id="MySql.Data" version="6.9.9" targetFramework="net461" />
  <package Id="System.Data.SQLite.Core" version="1.0.104.0" targetFramework="net461" />
  <package Id="XDatabase" version="2.0.0" targetFramework="net461" />
</packages>